@import './variables';

.el-button--primary:hover,
.el-button--primary:focus,
.el-button--primary:active {
  background: $lightgreen;
  border-color: $lightgreen;
  color: #FFFFFF;
}

.el-table th, .el-table td{
  text-align: center;
}
